* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: url("../public/images/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}

.playerWrapper {
  width: 100%;
  height: 800px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr); /*이것으로 넓이 조절*/
  grid-template-rows: repeat(3, 1fr);
}

.England {
  background-image: url("../public/images/background/englandBack.jpg");
}

.Brazil {
  background-image: url("../public/images/background/brazilBack.jpg");
}

.Korea {
  background-image: url("../public/images/background/koreaBack.jpg");
}

.mobileLayout {
  flex-direction: column-reverse;
}
